<html>
<head>
<link rel="stylesheet" href="https://gerikson.com/stylesheets/sandbox.css" title="Sandbox" />
</head>
<body>
<table><caption>Fördelning av partiernas procentandel i olika valdistrikt jämfört med riket</caption>

<tr>
<th><br/></th><th>Distrikt</th>
[% FOR p IN abbrevs -%]<th>[% p -%]</th>[% END -%]<th>Avvikelse (&Sigma; &Delta;<sup>2</sup>)</th>
</tr>
<tr>
<td></td><td>Riket</td>
[% FOR t IN totals -%]<td>[% t -%]</td>[% END -%]<td>0,00</td>
</tr>
[% FOR r IN table -%]
<tr>
[% FOR c IN r -%]<td>[% c -%]</td>[% END -%]
</tr>
[% END -%]
</table>
</body>
</html>
